* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero {
    margin: 0;
    padding: 0;
    background-image: url("./img/gettyimages-1169567839-612x612.jpg");
    background-repeat: no-repeat;
    background-size: 1700px;
    height: 600px;
}
.head {
    margin: 0px 4rem;
    display: flex;
    gap: 15rem;
    align-items: center;
    padding: 25px;
}
.logo img {
    height: 70px;
}
.nav-link ul {
    display: flex;
    list-style-type: none;
    gap: 3.5rem;
}
.nav-link ul a {
    font-size: 22px;
}
.nav-link ul a.home {
    text-decoration: none;
    color:  rgb(255, 60, 0);
}
.nav-link ul a.link {
    text-decoration: none;
    color: black;
}
.nav-link ul a.contact {
    background-color: rgb(255, 60, 0);
    color: black;
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 7px;
}
.body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 100px;
    gap: 7rem;
}
.body-txt {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-left: 250px;
}
.hero-txt {
    font-size: 42px;
    text-align: center;
}
.sub-hero {
    font-size: 14px;
}
.explore {
    background-color: rgb(255, 60, 0);
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 7px;
}
.social ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 50px;
    list-style-type: none;
}
.social ul a img {
    height: 40px;
}
.boxes {
    display: flex;
    gap: 6rem;
}
.box1 {
    background-color: white;
    width: 270px;
    height: 90px;
    margin-left: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 3px rgba(128, 128, 128, 0.123);
}
.b2 {
    background-color: grey;
    height: 50px;
    width: 60px;
}
.b2-txt {
    color: black;
}
.box {
    background-color: white;
    width: 270px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 3px rgba(128, 128, 128, 0.123);
}
.box2 {
    background-color: rgb(255, 60, 0);
    width: 220px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-left: 30px;
    box-shadow: 0 3px rgba(128, 128, 128, 0.123);
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 200px;
    gap: 9rem;
}
.img {
    display: flex;
    position: relative;
    margin-right: 30px;
}
.about .img img.girl {
    border: 2px solid rgb(255, 60, 0);
    height: 270px;
    width: 290px;
    margin-right: 40px;
}
.about .img img.boy {
    position: absolute;
    top: 100px;
    left: 70px;
    border: 2px solid rgb(255, 60, 0);
    height: 270px;
    width: 290px;
}
.about-txt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    text-align: justify;
}
.about-txt p.head {
    color: rgb(255, 60, 0);
}
.explore-b {
    background-color: rgb(255, 60, 0);
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 7px;
    width: 100px;
}