* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero {
    background-image: url("https://img.freepik.com/free-photo/aerial-view-cargo-ship-cargo-container-harbor_335224-1374.jpg?w=740&t=st=1690302057~exp=1690302657~hmac=41a3966a07d8586a3cf42b75daeae1d702941a8de6628f13d0c60a54e6aa290a");
}
.head {
    margin: 30px 10rem;
    display: flex;
    gap: 20rem;
}
.nav-link ul {
    display: flex;
    list-style-type: none;
    gap: 3.5rem;
}
.nav-link ul a {
    text-decoration: none;
}