* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero {
    background-image: url();
}
.head {
    margin: 30px 10rem;
    display: flex;
    gap: 20rem;
}
.nav-link ul {
    display: flex;
    list-style-type: none;
    gap: 3.5rem;
}
.nav-link ul a {
    text-decoration: none;
}